@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Playfair Display', serif;
}

body{
    background: url(./assets/fond.jpg) no-repeat fixed center/cover;
    /* height: 100vh; */
}

h1{
  font-size: 2.5rem; 
  text-align: center; 
  margin: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: rgba(78, 78, 245, 0.692);
  text-shadow: 3px 1px 3px #008b7ed6;
}

main{
    background-color: #fff;
    border: 1px solid rgb(112, 112, 250);
    width: 80%;
    min-height: 500px;
    margin:20px auto;
    border-radius: 15px;
    padding: 20px;
    box-shadow:0px 4px 14px 5px rgba(116, 96, 87, 0.5);
}

.positioning ,
.flexbox
{
     border: 2px solid #ccc;
     padding: 15px;
     margin-top:20px;
     border-radius: 10px;   
}

.positioning{
    position: relative;
}

#circle{
    background-color: rgba(75, 238, 230, 0.63);
    width: 60px;
    height: 60px;
    padding: 20px;
    border-radius: 50%;
    position: absolute;
    top:-10px;
    right:10px;
    box-shadow:0 2px 12px 5px rgba(51, 51, 51, 0.229) ;
    z-index: 1;
}

#rectangle{
    height: 15px;
    width: 100px;
    background-color: rgba(75, 238, 230, 0.63);
    padding: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* ************** Flexbox  ************** */
ul{
   display:flex;
   justify-content: space-around;
   align-items: center;
}

ul li{
    list-style-type: none;
    font-size: 0.7rem;
    height: 160px;
    width: 30%;
    background-color: rgb(94, 94, 240);
    display: flex;
    justify-content: center;
    align-items: center;   
}

ul> li >a{
    color: rgb(22, 2, 2);
}

@media screen and (max-width:700px){
    #circle{
        padding: 10px;
        position: absolute;
        top:10%;
        bottom: -10%;
        transform: translateY(-10%);
    }

   #rectangle{
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -40%);
   } 

 ul> li >a{
  overflow: hidden;
 }   
}

@media screen and (max-width: 900px){
    ul> li >a{
        overflow: hidden;
    }    
}